@import 'styles/mixins.scss';

.ebox-location-item {
  @extend %hover-focus-active-opacity;
  background: #005777;
  color: $color-white;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: opacity $animation-time;
  &:first-child {
    margin-top: 0;
  }
  &.m-active {
    opacity: $active-opacity;
  }
}

.ebox-location-item-col {
  width: 100%;
  position: relative;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  &:nth-child(2) {
    width: 35%;
    text-align: right;
  }
}

.divider-left,
.divider-right {
  border-left:1px solid $color-white; 
  border-right:1px solid $color-white; 
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .ebox-location-item-address {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .ebox-location-item-address {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .ebox-location-item-name,
  .divider-left {
    display: none;
  }

  .ebox-location-item-address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .ebox-location-item-name,
  .ebox-location-item-custom-name,
  .divider-left,
  .divider-right {
    display: none;
  }

  .ebox-location-item-address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}