$color-white:                           #ffffff;
$table-color-white:                     #fcfcfc;
$color-general-red:                     #a90910;
$color-general-grey:                    #bbbbbb;
$color-general-dark-grey:               #4a4a4a;
$color-general-blue:                    #2E5480;
$color-grid-grey:                       #666;
$color-grid-dark:                       #000;
$color-edit-address:                    #495057;
$header-shadow:                         #004761;
$bg-color-header:                       #ffffff;
$scroll-bar-thumb:                      #005777;
$scrollbar-track:                       #f4f3f3;

// General
$color-success:                         $color-general-blue;
$color-error:                           $color-general-red;
$color-warning:                         #d6d2a3;
$color-text-secondary:                  #323232;

//Main color in modals
$modal-title-color:                     #005777;
$main-modal-color:                      #323232;

$color-red-light:                       #fcfcfc;
$color-red:                             #636466;
$color-input-background-disabled:       #ebebe4;
$color-toolbar-text-gray:               #3d3d3d;
$color-table-text-gray:                 #3c3c3c;

$color-title-text-gray:                 #3b3b3b;
$color-gray-light:                      #f0f0f0;
$color-gray-medium:                     #c8c8c8;

$color-madium-gray-light:               #e8e8e8;
$color-gray:                            #b4b4b4;
$body-color-light-gray:                 #f7f7f7;
//SideBarMenu
$color-sidebar-text-transparent:        rgba(255, 255, 255, 0.5);
$color-sidebar-background-gray:         #58595b;

//Popup menu
$color-menu-text-gray:                  #3b3b3b;
$box-shadow-popup:                      rgba(0, 0, 0, 0.2);
$color-bg-shadow:                       rgba(144, 144, 144, 0.6);
//Tree DropDown
$color-shadow-drop-down-list:           rgba(0, 0, 0, 0.2);
$color-border-drop-down-list:           rgba(169, 9, 10, .5);
$color-dropdown-hover:                  #ddd;
//Tooltip
$color-red:                             #e53f39;

//Top 10 locations
$locations-border-bottom:               rgba(0, 0, 0, 0.2);
$selected-location:                     #ffffff;
$selected-location:                     #ffffff;
$picked-up-location-text:               #ffffff;
$returned-location-text:                #ffffff;
$picked-up-location-bg:                 rgb(162, 213, 198);
$returned-location-bg:                  rgb(230, 149, 149);
$location-loader-border:                #f3f3f3;
$location-loader-border-top:            rgb(0, 87, 119);

//Grid
$color-light-grey:                      #cecece;
$color-dark-grey:                       rgba(60, 60, 60, 0.5);
$color-selected-row:                    #f2f2f2;
$color-header:                          #EDEDED;
$color-grid-rows:                       #f9f9f9;

//Add Organization modal
$color-light-gray-border:               #d9d9d9;
//scrollbar
$color-gray-scrollbar:                  rgb(229,229,229);
$color-black-scrollbar:                 rgba(0, 0, 0, 0.5);
$color-bg-shadow-scrollbar:             rgb(177, 177, 177);

$main-bg-template-color:                #f4f3f3;

//Spinner
$spinner-main-color:                    #005777;
$spinner-bg-color:                      rgba(#fff, 0.9);

//Side-bar
$side-bar-gradient-color:               #005777;

//Button Colors
$color-button-submit:                   #005777;
$color-button-error:                    #d5a2a2;
$color-button-hover:                    #006b91;
$color-button-click:                    #007dab;
$color-button-blocked:                  #7fabbb;
$color-button-highlighted:              #59bade;

$deactivate-button-normal:              #d5d1a3;
$deactivate-button-hover:               #e6e2be;
$deactivate-button-active:              #e6df95;

$delete-button-normal:                  #d5a2a2;
$delete-button-hover:                   #e6bebe;
$delete-button-active:                  #e69595;

$disabled-button:                       #dadada;
//Blocks
$block-color-normal:                    #fcfcfc;

//Collapsible
$triger-hover:                          #003244;
$template-container-background:         #f4f3f3;

// Status Package
$color_in_location:                     #a2d5c6;

// Input Colors
$color-input-border:                    #005777;
$color-input:                           #323232;

// Link Colors
$color-link:                            #005777;
$color-link-hover:                      #006b91;
$color-link-active:                     #007dab;

// Pie Chart Colors
$pie-chart-black:                       #5f5656;
$pie-chart-1:                           #e69595;
$pie-chart-2:                           #005777;
$pie-chart-3:                           #e6df95;
$pie-chart-4:                           #a2d5c6;
$pie-chart-hint-background:             #2d2d2d;

//Locations Top
$active-box-color:                      #e0e0e0;
$normal-box-color:                      #f1f1f1;

//Dashboard Graph colors
$dashboard-chart-grey:                  #e4e4e4;
$dashboard-chart-text-color:            #aaaaaa;
$dashboard-chart-area-positive:         #e3f2ee;
$dashboard-chart-area-positive-ebox:    #e3f2ee;
$dashboard-chart-area-positive-agent:   #fbe9d5;
$dashboard-chart-area-negative:         #e6bebe;
$dashboard-chart-line-color:            #005777;
$dashboard-chart-tooltip-color:         #a2a2a2;
$dashboard-tooltip-color-grey:          #888888;
$dashboard-tooltip-color-black:         #000000;
$dashboard-chart-diff-color:            #a2d5c6;
$dashboard-chart-diff-color-ebox:       #a2d5c6;
$dashboard-chart-diff-color-agent:      #e39c4f;
$dashboard-progress-bg-color:           #f3f3f3;

$overlay-color:                         rgba(#000, .7);

$burger-color:                          $color-general-blue;

//Spinner grid overlay

$main-bg-spinner-overlay:               rgba(#fff, .9);