.fl-buttonContainer {
  background-color: #005777;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.fl-button {
  display: flex;
  padding: 10px 18px;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: relative;
}

.fl-buttonTextCenter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  line-height: normal;
}