@import 'styles/mixins.scss';

.sign-in-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  width: 100%;

  .sign-in-title {
    font-family: Quicksand;
    font-size: 29px;
    letter-spacing: 0.4px;
    text-align: left;
    color: $main-modal-color;
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .submit {
    border-radius: 10px;
    color: $color-white;
    background-color: $color-button-submit;
    &:hover {
      background-color: $color-button-hover;
    }
    &:active {
      background-color: $color-button-click;
    }
    .fl-buttonTextCenter{
      font-family: Quicksand !important;
      font-size: 18px !important;
      letter-spacing: 0.3px;
    }
  }

  .sign-in-links {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    a {
      color: $color-button-submit;
    }
    .signUp-link a {
      font-family: Quicksand;
    }
  }
  .form-group {
    position: relative;
    .error-message-container {
      @extend %error-message-container;
      .error-message {
        @extend %error-message;
      }
    }
  }
}

.invalid {
  .submit, .submit:hover, .submit:active {
    background-color: $color-button-blocked;
  }
}