@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes rotate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg); } }

.fl-buttonContainer {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  transition: all 0.5s ease; }
  .fl-buttonContainer.m-loading {
    overflow: hidden !important; }

.fl-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: relative; }

.fl-buttonDisabled {
  cursor: not-allowed; }

.fl-buttonDisabledOverlay {
  opacity: 0.3; }

.fl-buttonTextCenter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  line-height: normal; }
  .fl-buttonTextCenter .button-icon {
    padding-right: 32px; }

.fl-buttonTextCenter.with-icon {
  justify-content: flex-start; }
