@import 'styles/mixins.scss';

.ebox-locations {
  min-height: 200px;
  padding: 10px;
  position: relative;
  font-family: Quicksand, sans-serif;
  word-wrap: break-word;
  max-height: 500px;
  overflow: auto;
  &.m-empty {
    min-height: 0;
  }
}

.ebox-locations-link {
  @extend %link;
}

.bottom-navigation {
  display: flex;
  justify-content: space-between;
}