.ebox-locations-link {
  color: #005777;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s; }
  .ebox-locations-link:focus {
    outline: auto; }
  .ebox-locations-link:hover, .ebox-locations-link:focus {
    text-decoration: none;
    color: #006b91; }
  .ebox-locations-link:active {
    text-decoration: none;
    color: #007dab; }

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes rotate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg); } }

.ebox-locations {
  min-height: 200px;
  padding: 10px;
  position: relative;
  font-family: Quicksand, sans-serif;
  word-wrap: break-word;
  max-height: 500px;
  overflow: auto; }
  .ebox-locations.m-empty {
    min-height: 0; }

.bottom-navigation {
  display: flex;
  justify-content: space-between; }
